<%# Login field %>

<div class="login_field">
    <p>Enter your registered details below EJS.</p>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </form>
       <input type="submit" value="Login">
</div>

<script>
    
</script>
